@use "variables";
@use "mixins";

.model-navbar{
    &__background{
      @include mixins.model-background
    }
    background-color: variables.$White;
    width: 250px;
    padding: 28px 24px;
    height: 100vh;
    // display: none;
    &__items{
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        list-style: none;
        margin-top:50px;
    }
    &__link{
      text-decoration:none;
      color: variables.$Very-vark-blue;
      font-weight: 700;
      font-size: 1.1em;
    }
    &__close-icon:hover{
        cursor: pointer;
    }
}